body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
    #test{
        color: rgb(255, 124, 31);
        text-emphasis: none;
        text-align: center;
       } 
       #check
       {
        border-radius: 10px;
        padding: 12px;
        color: rgb(0, 0, 0);
        margin-bottom: 5px;
        margin-top: 5px;
       font-size: large;
    }
    .tg-icon{
      color: rgb(13, 13, 133);       
       font-size: 40px;
        border: radius 5px;
        padding-left: 50px;
        margin-right: 80px; 
        row-gap: 15px;
    }
    .tg-icon:hover{
        color:white;
    }

header {
    background-color: rgb(224, 250, 215);
    color:blue
    padding: 5px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    text-align: center;
    font-size: larger;
    
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #350a0a;
text-decoration: dotted;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.about img{
    width: 200px;
    height: 150px;
  border-radius: 100%;
}
.about-title{
    text-align: center;
    color: aqua;
    font-weight: 600;
}
.profile-image{
    border: radius 5px;;
    align-items: center;
    height: 200px;
    width: 300px;

}

.project img{
    height: 400px;
    border-radius: 5px;
    width: 300px;
    border-radius: 5px;
    background-color: black;
    padding-bottom: 10px;
    border-radius: 50%;
    
}
.intro{
background-color: rgb(224, 250, 215);
border-radius: 5px;
border: #333333;
margin-bottom: 15px;
}
.photo{
    text-align: center;
background-color: cyan;
margin-top: 10px;
margin-bottom: 10px;
border-radius: 5px;
}
.editor{
    text-decoration-color: rgb(21, 206, 206);
    text-decoration: none;
    text-overflow: inherit;
     font-size: small;
     background-color: darkorange;
     text-transform: capitalize;
     border-radius: 5px;
}
.test{
    text-align: center;
    color: rgba(0, 0, 255, 0.425);
    text-emphasis: none;
    text-decoration: none;}
   .telegram-button{
text-align: center;
color: chartreuse;

    }

.editor{
    text-align: center;
    color: brown;
background-attachment: fixed;
background-image: -moz-linear-gradient();
}
#contact{
    display: flex;
    flex-direction: column;
    border: #ccc 2px solid;
    border-radius: 10px;
    background-color: #c9b6b6;
}
input{
    padding: 6px;
    margin: 15px;
    border-radius: 8px;
    overflow: hidden; 
}
form{
    text-align: center;
}
label{
font-family: Arial, Helvetica, sans-serif;
color: black;
font-size: 18px;
font-weight: 700;
}
.contact-title{
    text-align: center;
     color: aqua;
     font-size: 24px;
     font-weight: 700;
}
.project {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
#parr{
    color:red ;
    padding: 10;
}
.btn{
    margin-left: 50px;
    margin-top: 25px;
    background-color: orange;
    color: white;
    padding: 10px;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    font-weight: 400;
    font-family: Arial;
    align-items: center;
    margin-bottom: 12px;
}
.btn:hover{
    background-color: white;
    color: orange;
  font-family: Arial;
 
}
.yt-icon{
    color: red;
    text-align: center;
    font-size: 40px;
     border-radius: 40px;
     grid-area: 5px; 
}
.yt-icon:hover{
  color: rgb(14, 86, 148);
  background-color: white;
}
.tk-icon{
color: white;
border-radius: 100px;
font-size: large;
margin-left: 150px;
}
.tk-icon:hover{
    background-color: darkviolet;
    color: #981d1d;
border-radius: 50px;
}
footer {
    text-align: center;
    padding: 10px 0;
    background: #333333;
    background-color:rgb(7, 110, 69);
    color: #fff;
}